/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: -10px;
}

li {
  border: 1px solid #ededed;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

/* COMMON */

.container {
  max-width: 990px;
  padding: 50px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.padding-top {
  padding-top: 20px;
}

/* FONT */

body {
  font-family: sans-serif;
  font-weight: 300;
}

/* MAIN */

button {
  font-size: 12px;
  color: #000;
  padding: 20px;
  background-color: #ededed;
  border: none;
  border-radius: 5px;
}

#student-btn:active,
#user-list-btn:active,
#input-btn:active {
  background-color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#matricola-number {
  font-size: 12px;
  width: 30em;
  color: #000;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 5px;
}

input {
  padding: 20px;
  border: none;
  background-color: #ededed;
  outline: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input:focus {
  background-color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
